<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Service</title>
</head>
<body>
    <h1>Data from FakeStore</h1>

    <h1>Product Details</h1>


    <form action="/api/v1/products" method="post">
        <button type="submit">Get a Single Product</button>
    </form>


<!--    <div>-->
<!--        <p>ID: <span th:text="${apiData.id}"></span></p>-->
<!--        <p>Title: <span th:text="${apiData.title}"></span></p>-->
<!--        <p>Price: <span th:text="${apiData.price}"></span></p>-->
<!--        <p>Category: <span th:text="${apiData.category}"></span></p>-->
<!--        <p>Description: <span th:text="${apiData.description}"></span></p>-->
<!--        &lt;!&ndash; Assuming 'image' is a URL, you can use it in an img tag &ndash;&gt;-->
<!--        <img th:src="${apiData.image}" alt="Product Image">-->
<!--    </div>-->
<!--    <div>-->
<!--        <p>ID: <span th:text="${apiData.id}"></span></p>-->
<!--        <p>Title: <span th:text="${apiData.title}"></span></p>-->
<!--        <p>Price: <span th:text="${apiData.price}"></span></p>-->
<!--        <p>Category: <span th:text="${apiData.category}"></span></p>-->
<!--        <p>Description: <span th:text="${apiData.description}"></span></p>-->
<!--        &lt;!&ndash; Assuming 'image' is a URL, you can use it in an img tag &ndash;&gt;-->
<!--        <img th:src="${apiData.image}" alt="Product Image">-->
<!--    </div>-->

</body>
</html>